* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.blu {
    color: blue;
}

.bg-blu {
    background-color: blue;
}

.bg-grey {
    background-color: grey;
}

.upper {
    text-transform: uppercase;
}

body {
    height: 100vh;
}

/* header */

.tit {
    height: 100px;
}

#select-box {
    height: 100px;
}

#select-box span {
    font-size: 40px;
    margin-right: 40px;
}

/* main */
main {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.box-obj {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    height: 200px;
}

.box-obj i {
    font-size: 50px;
}